* text=auto

/.git export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.phpunit.result.cache export-ignore
/.stylelintrc.json export-ignore
/assets export-ignore
/package.json export-ignore
/phpstan.neon export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/webpack.config.js export-ignore
