#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - inc/
    ignoreErrors:
        - '#Call to an undefined method StoutLogic\\AcfBuilder\\FieldBuilder::addAccordion\(\)#'

# See full example in phpstan-full.neon
